@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-relaway: "Raleway", sans-serif;
}
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-raleway);
  background: #18122b;
}

#app {
  padding: 2em;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.grupolegal {
  display: flex;
  justify-content: left;
  border-left: -5%;
  margin-top: 0%;
}
.logo {
  margin-top: 2%;
  max-width: 100%;
  overflow: hidden;
}

.logo img {
  width: 15rem;
  height: auto;
  display: block;
}
.searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -4.2rem 0rem 8rem 16rem;
  gap: 1em;
}
.searchBar {
  color:white ;
  font-size: 4em;

}

.search {
  width: 70%;
  border-top: -70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.75rem;
  border-radius: 4rem;
  background: #3930531a;
}
.search input {
  flex: 1;
  border: none;
  padding-right: 1rem;
  outline: none;
  color: #3930531a;
  background: #3930531a;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.si {
  opacity: 50%;
}
.Trend {
  text-align: left;
  color: #f9f9f9;
  margin-top: 0%;
  opacity: 100%;
  padding-left: 50px;
}
.Trend img {
  display: flex;
  justify-content: left;
  border-left: -5;
  margin-top: 0%;
  margin-bottom: -20;
}
.Trend a{
  font-size: xx-large;

}
.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #f9f9f9;
}

.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }
  .search input {
    font-size: 1rem;
  }
  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  .container {
    margin-top: 2rem;
  }
  .movie {
    width: 100%;
    margin: 1rem;
  }
}
